venv
.env
.python-version

nvdia_model_cnfg.py
chatgpt_key.py

__pycache__

frontend\tsconfig.json
next.config.ts
frontend\src\app
frontend\.next


frontend/tsconfig.json

frontend/package.json

frontend/node_modules
frontend/package-lock.json
frontend/eslint.config.mjs
frontend/AGENTS.md
frontend/CLAUDE.md
/Documents
