langchain
langchain-core
langgraph
langchain-openai
python-dotenv
langchain-google-genai
langchain-community
qdrant-client
sentence-transformers
langchain-qdrant
fastapi
uvicorn
python-multipart
langchain-experimental
langchain-huggingface
rank_bm25
langsmith
redis
huggingface-hub<0.25.0
gradio==4.44.0
starlette<0.28.0
spaces





